.h1 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -0.02em;
  line-height: 52px; }

.h2 {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -0.02em;
  line-height: 44px; }

.h3 {
  font-size: 32px;
  letter-spacing: -0.02em;
  line-height: 40px; }

.h4 {
  font-size: 28px;
  letter-spacing: -0.02em;
  line-height: 36px; }

.h5 {
  font-size: 26px;
  letter-spacing: -0.02em;
  line-height: 36px; }

.h6 {
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 34px; }

.txt1 {
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 30px; }

.txt2 {
  font-size: 18px;
  letter-spacing: -0.02em;
  line-height: 28px; }

.txt3 {
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 20px; }

.txt4 {
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 18px; }

.txt5 {
  font-size: 12px;
  letter-spacing: -0.02em;
  line-height: 16px; }

.btn_s {
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 30px;
  padding: 5px 22px;
  font-weight: 700;
  background-color: #ff7a00;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.35s ease-in-out; }
  .btn_s.outlined1, .btn_s.outlined2 {
    padding: 3px 22px; }
  .btn_s:hover {
    background-color: #ff8f27; }
  .btn_s:active {
    background-color: #ffa14b; }
  .btn_s.disabled {
    cursor: default;
    background-color: #ffcc9e; }

.btn_m {
  font-size: 28px;
  letter-spacing: -0.02em;
  line-height: 36px;
  font-weight: 700;
  padding: 8px 24px;
  background-color: #ff7a00;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.35s ease-in-out; }
  .btn_m.outlined1, .btn_m.outlined2 {
    padding: 6px 24px; }
  .btn_m:hover {
    background-color: #ff8f27; }
  .btn_m:active {
    background-color: #ffa14b; }
  .btn_m.disabled {
    cursor: default;
    background-color: #ffcc9e; }

.btn_l {
  font-size: 32px;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-weight: 700;
  padding: 12px 32px;
  background-color: #ff7a00;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.35s ease-in-out; }
  .btn_l.outlined1, .btn_l.outlined2 {
    padding: 10px 32px; }
  .btn_l:hover {
    background-color: #ff8f27; }
  .btn_l:active {
    background-color: #ffa14b; }
  .btn_l.disabled {
    cursor: default;
    background-color: #ffcc9e; }

.btn_icon_s {
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 30px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  padding: 5px 20px 5px 12px;
  background-color: #ff7a00;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.35s ease-in-out; }
  .btn_icon_s span {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background: url("/assets/images/common/caret-left.png") no-repeat;
    background-size: cover;
    transition: all 0.35s ease-in-out; }
  .btn_icon_s.outlined1 span {
    background: url("/assets/images/common/orange-caret-left.png") no-repeat;
    background-size: cover; }
    .btn_icon_s.outlined1 span::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url("/assets/images/common/caret-left.png") no-repeat;
      background-size: cover;
      transition: all 0.35s ease-in-out;
      opacity: 0; }
  .btn_icon_s.outlined1:hover span::after {
    opacity: 1; }
  .btn_icon_s.outlined1:active span::after {
    opacity: 0; }
  .btn_icon_s.outlined1.disabled span {
    background: url("/assets/images/common/gray200-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_s.outlined2 span {
    background: url("/assets/images/common/orange-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_s.outlined2.disabled span {
    background: url("/assets/images/common/gray300-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_s.ghost span {
    background: url("/assets/images/common/orange-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_s.ghost.disabled span {
    background: url("/assets/images/common/gray300-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_s:hover {
    background-color: #ff8f27; }
  .btn_icon_s:active {
    background-color: #ffa14b; }
  .btn_icon_s.disabled {
    cursor: default;
    background-color: #ffcc9e; }

.btn_icon_m {
  font-size: 28px;
  letter-spacing: -0.02em;
  line-height: 36px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  padding: 8px 24px 8px 12px;
  background-color: #ff7a00;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.35s ease-in-out; }
  .btn_icon_m span {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    background: url("/assets/images/common/caret-left.png") no-repeat;
    background-size: cover;
    transition: all 0.35s ease-in-out; }
  .btn_icon_m.outlined1 span {
    background: url("/assets/images/common/orange-caret-left.png") no-repeat;
    background-size: cover; }
    .btn_icon_m.outlined1 span::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url("/assets/images/common/caret-left.png") no-repeat;
      background-size: cover;
      transition: all 0.35s ease-in-out;
      opacity: 0; }
  .btn_icon_m.outlined1:hover span::after {
    opacity: 1; }
  .btn_icon_m.outlined1:active span::after {
    opacity: 0; }
  .btn_icon_m.outlined1.disabled span {
    background: url("/assets/images/common/gray200-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_m.outlined2 span {
    background: url("/assets/images/common/orange-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_m.outlined2.disabled span {
    background: url("/assets/images/common/gray300-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_m.ghost span {
    background: url("/assets/images/common/orange-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_m.ghost.disabled span {
    background: url("/assets/images/common/gray300-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_m:hover {
    background-color: #ff8f27; }
  .btn_icon_m:active {
    background-color: #ffa14b; }
  .btn_icon_m.disabled {
    cursor: default;
    background-color: #ffcc9e; }

.btn_icon_l {
  font-size: 32px;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  padding: 12px 32px 12px 20px;
  background-color: #ff7a00;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.35s ease-in-out; }
  .btn_icon_l span {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 28px;
    background: url("/assets/images/common/caret-left.png") no-repeat;
    background-size: cover;
    transition: all 0.35s ease-in-out; }
  .btn_icon_l.outlined1 span {
    background: url("/assets/images/common/orange-caret-left.png") no-repeat;
    background-size: cover; }
    .btn_icon_l.outlined1 span::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url("/assets/images/common/caret-left.png") no-repeat;
      background-size: cover;
      transition: all 0.35s ease-in-out;
      opacity: 0; }
  .btn_icon_l.outlined1:hover span::after {
    opacity: 1; }
  .btn_icon_l.outlined1:active span::after {
    opacity: 0; }
  .btn_icon_l.outlined1.disabled span {
    background: url("/assets/images/common/gray200-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_l.outlined2 span {
    background: url("/assets/images/common/orange-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_l.outlined2.disabled span {
    background: url("/assets/images/common/gray300-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_l.ghost span {
    background: url("/assets/images/common/orange-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_l.ghost.disabled span {
    background: url("/assets/images/common/gray300-caret-left.png") no-repeat;
    background-size: cover; }
  .btn_icon_l:hover {
    background-color: #ff8f27; }
  .btn_icon_l:active {
    background-color: #ffa14b; }
  .btn_icon_l.disabled {
    cursor: default;
    background-color: #ffcc9e; }

.outlined1 {
  color: #ff7a00;
  border: 2px solid #ff7a00;
  background-color: #ffffff; }
  .outlined1:hover {
    color: #ffffff;
    border-color: #ff8f27;
    background-color: #ff8f27; }
  .outlined1:active {
    color: #ff7a00;
    border-color: #ffe9d4;
    background-color: #ffe9d4; }
  .outlined1.disabled {
    cursor: default;
    color: #dedede;
    border-color: #dedede;
    background-color: #ffffff; }

.outlined2 {
  color: #ff7a00;
  border: 2px solid #ff7a00;
  background-color: #ffffff; }
  .outlined2:hover {
    background-color: #ffe9d4; }
  .outlined2:active {
    background-color: #ffcc9e; }
  .outlined2.disabled {
    cursor: default;
    color: #b7b7b7;
    border-color: #b7b7b7;
    background-color: #f5f5f5; }

.ghost {
  color: #ff7a00;
  background-color: #ffffff; }
  .ghost:hover {
    background-color: #fff7ef; }
  .ghost:active {
    background-color: #ffe9d4; }
  .ghost.disabled {
    cursor: default;
    color: #b7b7b7;
    background-color: #ffffff; }

.join_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff7a00;
  border-radius: 3px;
  padding: 12px 36px;
  background-color: #ffffff;
  transition: all 0.35s ease-in-out; }
  .join_btn span {
    display: block;
    width: 38px;
    height: 38px;
    background-size: cover;
    transition: all 0.35s ease-in-out; }
    .join_btn span::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url("/assets/images/common/white-user.png") no-repeat;
      background-size: cover;
      transition: all 0.35s ease-in-out;
      opacity: 0; }
  .join_btn p {
    transition: all 0.35s ease-in-out; }
  .join_btn p:nth-of-type(1) {
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 28px;
    color: #515151;
    padding-top: 8px; }
  .join_btn p:nth-of-type(2) {
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 30px;
    font-weight: 700;
    color: #ff7a00; }
  .join_btn.inssa span {
    background: url("/assets/images/common/user.png") no-repeat;
    background-size: cover; }
  .join_btn.inssa:hover, .join_btn.inssa:active {
    background-color: #ff8f27;
    border-color: #ff8f27; }
    .join_btn.inssa:hover span::after, .join_btn.inssa:active span::after {
      opacity: 1; }
    .join_btn.inssa:hover p, .join_btn.inssa:active p {
      color: #ffffff; }
  .join_btn.inssa:active {
    background-color: #ffa14b;
    border-color: #ffa14b; }

/*# sourceMappingURL=common.css.map */