// flex
$flex-map: (
    start: flex-start,
    end: flex-end,
    between: space-between,
    around: space-around,
    stretch: stretch,
    center: center,
);

@function _get-flex-value($key) {
    @return map-get($flex-map, $key);
}

@mixin flexbox($jc: center, $ai: center) {
    display: flex;
    justify-content: _get-flex-value($jc);
    align-items: _get-flex-value($ai);
}

@mixin inline-flexbox($jc: center, $ai: center) {
    display: inline-flex;
    justify-content: _get-flex-value($jc);
    align-items: _get-flex-value($ai);
}

@mixin column-flexbox($jc: center, $ai: center) {
    display: flex;
    flex-direction: column;
    justify-content: _get-flex-value($jc);
    align-items: _get-flex-value($ai);
}

// common transition
@mixin transition() {
    transition: all 0.35s ease-in-out;
}

// color
$orange10: #ff7a00;
$orange09: #ff8f27;
$orange08: #ffa14b;
$orange07: #ffcc9e;
$orange06: #ffe9d4;
$orange05: #fff0e3;
$orange04: #fff7ef;
$orange03: #fff9f4;
$orange02: #fffcfa;

$gray90: #ffffff;
$gray100: #f5f5f5;
$gray200: #dedede;
$gray300: #b7b7b7;
$gray400: #9b9b9b;
$gray500: #848484;
$gray600: #727272;
$gray700: #5f5f5f;
$gray800: #515151;
$gray900: #3d3d3d;
$gray1000: #2c2c2c;
$gray1100: #1e1e1e;
$gray1200: #111111;
$gray1300: #000000;

$error: #ff5e5e;
$error-b: #fffafa;
$informative: #5f8bff;
$success: #64de39;

// font
$extrabold: 800;
$bold: 700;
$medium: 500;
$regular: 400;

$letter-spacing: -0.02em;

$h1-size: 40px;
$h1-height: 52px;

$h2-size: 36px;
$h2-height: 44px;

$h3-size: 32px;
$h3-height: 40px;

$h4-size: 28px;
$h4-height: 36px;

$h5-size: 26px;
$h5-height: 36px;

$h6-size: 24px;
$h6-height: 34px;

$txt1-size: 20px;
$txt1-height: 30px;

$txt2-size: 18px;
$txt2-height: 28px;

$txt3-size: 16px;
$txt3-height: 20px;

$txt4-size: 14px;
$txt4-height: 18px;

$txt5-size: 12px;
$txt5-height: 16px;

@mixin h1 {
    font-size: $h1-size;
    font-weight: $extrabold;
    letter-spacing: $letter-spacing;
    line-height: $h1-height;
}

@mixin h2 {
    font-size: $h2-size;
    font-weight: $extrabold;
    letter-spacing: $letter-spacing;
    line-height: $h2-height;
}

@mixin h3 {
    font-size: $h3-size;
    letter-spacing: $letter-spacing;
    line-height: $h3-height;
}

@mixin h4 {
    font-size: $h4-size;
    letter-spacing: $letter-spacing;
    line-height: $h4-height;
}

@mixin h5 {
    font-size: $h5-size;
    letter-spacing: $letter-spacing;
    line-height: $h5-height;
}

@mixin h6 {
    font-size: $h6-size;
    letter-spacing: $letter-spacing;
    line-height: $h6-height;
}

@mixin txt1 {
    font-size: $txt1-size;
    letter-spacing: $letter-spacing;
    line-height: $txt1-height;
}

@mixin txt2 {
    font-size: $txt2-size;
    letter-spacing: $letter-spacing;
    line-height: $txt2-height;
}

@mixin txt3 {
    font-size: $txt3-size;
    letter-spacing: $letter-spacing;
    line-height: $txt3-height;
}

@mixin txt4 {
    font-size: $txt4-size;
    letter-spacing: $letter-spacing;
    line-height: $txt4-height;
}

@mixin txt5 {
    font-size: $txt5-size;
    letter-spacing: $letter-spacing;
    line-height: $txt5-height;
}

.h1 {
    @include h1;
}

.h2 {
    @include h2;
}

.h3 {
    @include h3;
}

.h4 {
    @include h4;
}

.h5 {
    @include h5;
}

.h6 {
    @include h6;
}

.txt1 {
    @include txt1;
}

.txt2 {
    @include txt2;
}

.txt3 {
    @include txt3;
}

.txt4 {
    @include txt4;
}

.txt5 {
    @include txt5;
}

// btn
.btn_s {
    @include txt1;
    @include transition();
    padding: 5px 22px;
    font-weight: $bold;
    background-color: $orange10;
    color: $gray90;
    border-radius: 4px;

    &.outlined1,
    &.outlined2 {
        padding: 3px 22px;
    }

    &:hover {
        background-color: $orange09;
    }

    &:active {
        background-color: $orange08;
    }

    &.disabled {
        cursor: default;
        background-color: $orange07;
    }
}

.btn_m {
    @include h4;
    @include transition();
    font-weight: $bold;
    padding: 8px 24px;
    background-color: $orange10;
    color: $gray90;
    border-radius: 4px;

    &.outlined1,
    &.outlined2 {
        padding: 6px 24px;
    }

    &:hover {
        background-color: $orange09;
    }

    &:active {
        background-color: $orange08;
    }

    &.disabled {
        cursor: default;
        background-color: $orange07;
    }
}

.btn_l {
    @include h3;
    @include transition();
    font-weight: $bold;
    padding: 12px 32px;
    background-color: $orange10;
    color: $gray90;
    border-radius: 4px;

    &.outlined1,
    &.outlined2 {
        padding: 10px 32px;
    }

    &:hover {
        background-color: $orange09;
    }

    &:active {
        background-color: $orange08;
    }

    &.disabled {
        cursor: default;
        background-color: $orange07;
    }
}

.btn_icon_s {
    @include txt1;
    @include inline-flexbox();
    @include transition();
    font-weight: $bold;
    padding: 5px 20px 5px 12px;
    background-color: $orange10;
    color: $gray90;
    border-radius: 4px;

    span {
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 12px;
        background-image: url('/assets/images/common/caret-left.png');
        background-size: cover;
        @include transition();
    }

    &.outlined1 {
        span {
            background-image: url('/assets/images/common/orange-caret-left.png');

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-image: url('/assets/images/common/caret-left.png');
                background-size: cover;
                @include transition();
                opacity: 0;
            }
        }

        &:hover {
            span {
                &::after {
                    opacity: 1;
                }
            }
        }

        &:active {
            span {
                &::after {
                    opacity: 0;
                }
            }
        }

        &.disabled {
            span {
                background-image: url('/assets/images/common/gray200-caret-left.png');
            }
        }
    }

    &.outlined2 {
        span {
            background-image: url('/assets/images/common/orange-caret-left.png');
        }

        &.disabled {
            span {
                background-image: url('/assets/images/common/gray300-caret-left.png');
            }
        }
    }

    &.ghost {
        span {
            background-image: url('/assets/images/common/orange-caret-left.png');
        }

        &.disabled {
            span {
                background-image: url('/assets/images/common/gray300-caret-left.png');
            }
        }
    }

    &:hover {
        background-color: $orange09;
    }

    &:active {
        background-color: $orange08;
    }

    &.disabled {
        cursor: default;
        background-color: $orange07;
    }
}

.btn_icon_m {
    @include h4;
    @include inline-flexbox();
    @include transition();
    font-weight: $bold;
    padding: 8px 24px 8px 12px;
    background-color: $orange10;
    color: $gray90;
    border-radius: 4px;

    span {
        display: block;
        width: 32px;
        height: 32px;
        margin-right: 20px;
        background-image: url('/assets/images/common/caret-left.png');
        background-size: cover;
        @include transition();
    }

    &.outlined1 {
        span {
            background-image: url('/assets/images/common/orange-caret-left.png');

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-image: url('/assets/images/common/caret-left.png');
                background-size: cover;
                @include transition();
                opacity: 0;
            }
        }

        &:hover {
            span {
                &::after {
                    opacity: 1;
                }
            }
        }

        &:active {
            span {
                &::after {
                    opacity: 0;
                }
            }
        }

        &.disabled {
            span {
                background-image: url('/assets/images/common/gray200-caret-left.png');
            }
        }
    }

    &.outlined2 {
        span {
            background-image: url('/assets/images/common/orange-caret-left.png');
        }

        &.disabled {
            span {
                background-image: url('/assets/images/common/gray300-caret-left.png');
            }
        }
    }

    &.ghost {
        span {
            background-image: url('/assets/images/common/orange-caret-left.png');
        }

        &.disabled {
            span {
                background-image: url('/assets/images/common/gray300-caret-left.png');
            }
        }
    }

    &:hover {
        background-color: $orange09;
    }

    &:active {
        background-color: $orange08;
    }

    &.disabled {
        cursor: default;
        background-color: $orange07;
    }
}

.btn_icon_l {
    @include h3;
    @include inline-flexbox();
    @include transition();
    font-weight: $bold;
    padding: 12px 32px 12px 20px;
    background-color: $orange10;
    color: $gray90;
    border-radius: 4px;

    span {
        display: block;
        width: 32px;
        height: 32px;
        margin-right: 28px;
        background-image: url('/assets/images/common/caret-left.png');
        background-size: cover;
        @include transition();
    }

    &.outlined1 {
        span {
            background-image: url('/assets/images/common/orange-caret-left.png');

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-image: url('/assets/images/common/caret-left.png');
                background-size: cover;
                @include transition();
                opacity: 0;
            }
        }

        &:hover {
            span {
                &::after {
                    opacity: 1;
                }
            }
        }

        &:active {
            span {
                &::after {
                    opacity: 0;
                }
            }
        }

        &.disabled {
            span {
                background-image: url('/assets/images/common/gray200-caret-left.png');
            }
        }
    }

    &.outlined2 {
        span {
            background-image: url('/assets/images/common/orange-caret-left.png');
        }

        &.disabled {
            span {
                background-image: url('/assets/images/common/gray300-caret-left.png');
            }
        }
    }

    &.ghost {
        span {
            background-image: url('/assets/images/common/orange-caret-left.png');
        }

        &.disabled {
            span {
                background-image: url('/assets/images/common/gray300-caret-left.png');
            }
        }
    }

    &:hover {
        background-color: $orange09;
    }

    &:active {
        background-color: $orange08;
    }

    &.disabled {
        cursor: default;
        background-color: $orange07;
    }
}

.outlined1 {
    color: $orange10;
    border: 2px solid $orange10;
    background-color: $gray90;

    &:hover {
        color: $gray90;
        border-color: $orange09;
        background-color: $orange09;
    }

    &:active {
        color: $orange10;
        border-color: $orange06;
        background-color: $orange06;
    }

    &.disabled {
        cursor: default;
        color: $gray200;
        border-color: $gray200;
        background-color: $gray90;
    }
}

.outlined2 {
    color: $orange10;
    border: 2px solid $orange10;
    background-color: $gray90;

    &:hover {
        background-color: $orange06;
    }

    &:active {
        background-color: $orange07;
    }

    &.disabled {
        cursor: default;
        color: $gray300;
        border-color: $gray300;
        background-color: $gray100;
    }
}

.ghost {
    color: $orange10;
    background-color: $gray90;

    &:hover {
        background-color: $orange04;
    }

    &:active {
        background-color: $orange06;
    }

    &.disabled {
        cursor: default;
        color: $gray300;
        background-color: $gray90;
    }
}

.join_btn {
    @include column-flexbox();
    @include transition();
    width: 256px;
    border: 1px solid $orange10;
    border-radius: 3px;
    padding: 12px 0;
    background-color: $gray90;

    span {
        display: block;
        width: 38px;
        height: 38px;
        background-size: cover;
        @include transition();

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-size: cover;
            @include transition();
        }
    }

    p {
        @include transition();
    }

    p:nth-of-type(1) {
        @include txt2;
        color: $gray800;
        padding-top: 8px;
    }

    p:nth-of-type(2) {
        @include txt1;
        font-weight: $bold;
        color: $orange10;
    }

    &:hover,
    &:active {
        background-color: $orange09;
        border-color: $orange09;

        span {
            &::after {
                opacity: 1;
            }
        }

        p {
            color: $gray90;
        }
    }

    &:active {
        background-color: $orange08;
        border-color: $orange08;
    }

    &.inssa {
        span {
            background-image: url('/assets/images/common/user.png');

            &::after {
                background-image: url('/assets/images/common/white-user.png');
            }
        }
    }

    &.company {
        span {
            background-image: url('/assets/images/common/paint-brush-broad.png');

            &::after {
                background-image: url('/assets/images/common/white-paint-brush-broad.png');
            }
        }
    }
}

.wide_btn {
    @include h5;
    @include flexbox();
    @include transition();
    font-weight: $bold;
    width: 528px;
    height: 80px;
    color: $gray90;
    background-color: $orange10;
    border-radius: 4px;

    &:hover {
        background-color: $orange09;
    }

    &:active {
        background-color: $orange08;
    }

    &.sns_login {
        @include h6;
        color: $gray300;
        background-color: $gray100;
    }

    &.disabled {
        cursor: default;

        &.login {
            background-color: $orange07;
        }

        &.change_pwd_url {
            color: $gray300;
            background-color: $gray100;
        }
    }
}

// form
form {
    input {
        &[type='checkbox'] {
            display: none;
        }

        &[type='checkbox'] + label {
            @include h4;
            @include transition();
            display: flex;
            align-items: center;
            width: 161px;
            height: 24px;
            padding-left: 34px;
            font-weight: $regular;
            color: $gray700;
            background-image: url('/assets/images/common/check.png');
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            user-select: none;
        }

        &[type='checkbox']:checked + label {
            background-image: url('/assets/images/common/checked.png');
        }

        // 사이즈 확정되면 교체
        &#sessionLogin + label {
            @include h3;
            width: 183px;
            height: 28px;
            padding-left: 38px;
        }

        &[type='text'],
        &[type='password'] {
            @include h6;
            border: 1px solid $gray400;
            border-radius: 3px;
            padding: 0 21px;

            &.input_l {
                width: 528px;
                height: 80px;
            }

            &.input_m {
                width: 528px;
                height: 64px;
            }

            &.input_s {
                width: 384px;
                height: 64px;
            }

            &:focus {
                border: 1px solid $gray900;
            }
        }

        &::placeholder {
            color: $gray400;
        }
    }
}
